.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 4vmin;

  .title {
    font-size: 4vmin;
  }

  .diseases-block {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;

    .disease {
      flex-flow: column nowrap;
      align-items: center;
      width: 30vmin;
      height: 25vmin;

      .block-header {
        font-size: 3vmin;
        margin-bottom: 1vmin;
      }

      .symptoms-list {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        font-size: 1.5vmin;
      }
    }
  }
}
