<div class='wrapper'>
  <div class='title'>
    Довідка
  </div>
  <div class='diseases-block'>
    <div class='disease round-box' *ngFor="let disease of sickSvc.diseases; index as i;">
      <div class='block-header'>
        {{ disease }}
      </div>
      <div class='symptoms-list'>
        <div class='symp-entry' *ngFor="let symp of sickSvc.getSymptoms(i)">
          {{ symp.sympName }} ({{ symp.influence }}%)
        </div>
      </div>
    </div>
  </div>
</div>
