<header class='header-bar'>
  <div class='bar header-left'>
    <a routerLink='/menu'>Меню</a>
    <a routerLink='/summary' *ngIf="checkIfAnyCompleted()">Підсумки</a>
    <a routerLink='/lab2'>Експертне оцінювання</a>
    <a routerLink='/lab3'>Консультаційна система</a>
  </div>
  <div class='bar header-right'>
    <p *ngIf="authService.currentUsername">Logged in as {{authService.currentUsername}}</p>
  </div>
</header>
