@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo, 600, 500, 900);

.header-bar {
  background-color: mat-color($primary);
  color: white;

  height: fit-content;
  font-size: 1.5em;
  padding: 0.5em;

  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;


  .bar {
    display: flex;
    align-items: center;
    height: fit-content;

    p {
      margin: 0 0.5em 0 0.5em;
    }
  }

  .header-left {
    flex-flow: row wrap;
    a {
      color: white;
      margin-right: 1em;
    }
  }

  .header-right {
    flex-flow: row-reverse wrap;
  }
}
