.main-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.table-box {
  width: 90%;

  table {
    width: 100%;
  }
}

.inputs-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  form {

    .input-wrapper {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      .set-value {
        margin-left: 1vmin;
      }
    }

  }
}

.dropdown {
  background-color: white;
}
