<div class='main-wrapper'>
  <div class='round-box table-box'>
    <table mat-table [dataSource]="profTable">
      <ng-container matColumnDef="skill">
        <th mat-header-cell *matHeaderCellDef>Характеристика</th>
        <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
      </ng-container>
      <ng-container matColumnDef="val1">
        <th mat-header-cell *matHeaderCellDef>Менеджер</th>
        <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
      </ng-container>
      <ng-container matColumnDef="val2">
        <th mat-header-cell *matHeaderCellDef>Програміст</th>
        <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
      </ng-container>
      <ng-container matColumnDef="val3">
        <th mat-header-cell *matHeaderCellDef>Шофер</th>
        <td mat-cell *matCellDef="let element"> {{element[3]}} </td>
      </ng-container>
      <ng-container matColumnDef="val4">
        <th mat-header-cell *matHeaderCellDef>Референт</th>
        <td mat-cell *matCellDef="let element"> {{element[4]}} </td>
      </ng-container>
      <ng-container matColumnDef="val5">
        <th mat-header-cell *matHeaderCellDef>Перекладач</th>
        <td mat-cell *matCellDef="let element"> {{element[5]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>
  <div class='round-box inputs-box'>
    <form [formGroup]="skillInputs" (ngSubmit)="onCalculate()">
      <mat-select [(value)]="selectedCand" (selectionChange)="onCandChange()" class='dropdown'>
        <mat-option *ngFor="let cand of cands" [value]="cand">
          {{ cand }}
        </mat-option>
      </mat-select>
      <div class='input-wrapper'>
        <div class='label'>{{ profTable[0][0] }}</div>
        <mat-slider min="0" max="1" step="0.01" value="0.5" #inp1 color='primary' formControlName='v0' (valueChange)="onSliderChange()"></mat-slider>
        <div class='set-value'>{{ inp1.value }}</div>
      </div>
      <div class='input-wrapper'>
        <div class='label'>{{ profTable[1][0] }}</div>
        <mat-slider min="0" max="1" step="0.01" value="0.5" #inp2 color='primary' formControlName='v1' (valueChange)="onSliderChange()"></mat-slider>
        <div class='set-value'>{{ inp2.value }}</div>
      </div>
      <div class='input-wrapper'>
        <div class='label'>{{ profTable[2][0] }}</div>
        <mat-slider min="0" max="1" step="0.01" value="0.5" #inp3 color='primary' formControlName='v2' (valueChange)="onSliderChange()"></mat-slider>
        <div class='set-value'>{{ inp3.value }}</div>
      </div>
      <div class='input-wrapper'>
        <div class='label'>{{ profTable[3][0] }}</div>
        <mat-slider min="0" max="1" step="0.01" value="0.5" #inp4 color='primary' formControlName='v3' (valueChange)="onSliderChange()"></mat-slider>
        <div class='set-value'>{{ inp4.value }}</div>
      </div>
      <div class='input-wrapper'>
        <div class='label'>{{ profTable[4][0] }}</div>
        <mat-slider min="0" max="1" step="0.01" value="0.5" #inp5 color='primary' formControlName='v4' (valueChange)="onSliderChange()"></mat-slider>
        <div class='set-value'>{{ inp5.value }}</div>
      </div>
      <div class='input-wrapper'>
        <div class='label'>{{ profTable[5][0] }}</div>
        <mat-slider min="0" max="1" step="0.01" value="0.5" #inp6 color='primary' formControlName='v5' (valueChange)="onSliderChange()"></mat-slider>
        <div class='set-value'>{{ inp6.value }}</div>
      </div>
      <div class='input-wrapper'>
        <div class='label'>{{ profTable[6][0] }}</div>
        <mat-slider min="0" max="1" step="0.01" value="0.5" #inp7 color='primary' formControlName='v6' (valueChange)="onSliderChange()"></mat-slider>
        <div class='set-value'>{{ inp7.value }}</div>
      </div>
      <div class='input-wrapper'>
        <div class='label'>{{ profTable[7][0] }}</div>
        <mat-slider min="0" max="1" step="0.01" value="0.5" #inp8 color='primary' formControlName='v7' (valueChange)="onSliderChange()"></mat-slider>
        <div class='set-value'>{{ inp8.value }}</div>
      </div>
      <div class='input-wrapper'>
        <div class='label'>{{ profTable[8][0] }}</div>
        <mat-slider min="0" max="1" step="0.01" value="0.5" #inp9 color='primary' formControlName='v8' (valueChange)="onSliderChange()"></mat-slider>
        <div class='set-value'>{{ inp9.value }}</div>
      </div>
      <div class='input-wrapper'>
        <div class='label'>{{ profTable[9][0] }}</div>
        <mat-slider min="0" max="1" step="0.01" value="0.5" #inp10 color='primary' formControlName='v9' (valueChange)="onSliderChange()"></mat-slider>
        <div class='set-value'>{{ inp10.value }}</div>
      </div>
      <div class='input-wrapper'>
        <button mat-raised-button color='primary' type='submit'>Обчислити</button>
      </div>
    </form>
  </div>
  <div class='round-box' *ngIf="!!this.resultMatrix">
    <table mat-table [dataSource]="resultMatrixDataSource">
      <ng-container matColumnDef="skill">
        <th mat-header-cell *matHeaderCellDef>Характеристика</th>
        <td mat-cell *matCellDef="let element"> {{element[0]}} </td>
      </ng-container>
      <ng-container matColumnDef="cand1">
        <th mat-header-cell *matHeaderCellDef>Кандидат 1</th>
        <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
      </ng-container>
      <ng-container matColumnDef="cand2">
        <th mat-header-cell *matHeaderCellDef>Кандидат 2</th>
        <td mat-cell *matCellDef="let element"> {{element[2]}} </td>
      </ng-container>
      <ng-container matColumnDef="cand3">
        <th mat-header-cell *matHeaderCellDef>Кандидат 3</th>
        <td mat-cell *matCellDef="let element"> {{element[3]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="resultCols"></tr>
      <tr mat-row *matRowDef="let row; columns: resultCols;"></tr>
    </table>
    <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
  </div>
</div>
