/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.2em;
}

* {
  box-sizing: border-box;
}

.round-box {
  margin: 1em;
  padding: 1em;
  border: 1px solid lightgray;
  background-color: rgb(250, 250, 250);
  border-radius: 1em;
  display: flex;
  flex-flow: column wrap;
}
