<div class='round-box'>
  <div class='title'>Симптоми</div>
  <div class='symptom-checkboxes'>
    <div class='symptom-option' *ngFor="let opt of symptomFields; index as i;">
      <mat-checkbox [(ngModel)]="sickSvc.activatedSymptoms[i]">{{ opt }}</mat-checkbox>
    </div>
  </div>
  <a mat-raised-button routerLink='/sicks' color="primary">Хвороби</a>
</div>
