<div class='round-box'>
  <p>
    Оберіть рівень складності
  </p>
  <div *ngFor="let quiz of LoadedQuizzes; index as i;" class='menu-option'>
    <button mat-raised-button color='primary' (click)="onQuizSelected(i)">{{ quiz.quizName }}</button>
    <i *ngIf="quiz.completed" class='material-icons md-18' color='primary'>done</i>
  </div>
</div>
