.round-box {
  align-items: center;

  p {
    font-size: 1.5em;
  }

  .menu-option {
    display: flex;
    padding: 0.5em;
    align-items: center;

    .material-icons {
      margin-left: 0.5em;
    }
  }
}

