<div class='round-box question'>
  <div>
    <h1>{{ quizService.currentQuiz.quizName }}</h1>
  </div>
  <div>
    <p>{{ questionNumber + 1 }}. {{ currentQuestion }}?</p>
  </div>
  <div class='answers'>
    <div *ngFor="let answer of currentAnswers; index as i;" class='choice'>
      <mat-radio-button [value]="i"
      [checked]="quizService.currentQuiz.selectedAnswers[quizService.currentQuestion] === i"
      (change)="onAnswerClick(i)"
      color='primary'>{{ currentAnswers[i] }}</mat-radio-button>
    </div>
  </div>
  <div class='answers'>
    <button mat-raised-button color='primary' [disabled]="questionNumber <= 0" (click)="quizService.previousQuestion()">Попереднє питання</button>
    <button mat-raised-button color='primary'
    [disabled]="!currentIsAnswered"
    *ngIf="questionNumber < quizService.currentQuiz.questions.length - 1"
    (click)="quizService.nextQuestion()">Наступне питання</button>
    <button mat-raised-button color='primary'
    [disabled]="!currentIsAnswered"
    *ngIf="questionNumber >= quizService.currentQuiz.questions.length - 1"
    (click)="onViewResults()">Переглянути результати</button>
  </div>
</div>
