.question {
  align-items: center;

  div {
    margin: 0.5em;
  }

  .answers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    * {
      margin: 0.5em;
    }
  }
}
