<div class='round-box'>
  <div>
    <h1>Ваш рівень: {{ yourLevel.quizName }}</h1>
    <p>{{ yourLevel.quizDesc }}</p>
    <p>Кількість балів: {{ quizService.calcQuizScore(yourLevel) }}</p>
  </div>
  <div id="summaryChart"></div>
  <a mat-raised-button color='primary' routerLink='/menu'>Повернутись в меню</a>
</div>
