<div *ngIf="lab2svc.state == 0" class='round-box'>
  <div class='title'>Введіть множину температур</div>
  <div class='content'>
    <form [formGroup]="arrayInputs" (ngSubmit)="submitArray()" class='round-box'>
      <div>
        <mat-form-field appearance='fill'>
          <mat-label>Значення 1</mat-label>
          <input matInput formControlName='val1'>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance='fill'>
          <mat-label>Значення 2</mat-label>
          <input matInput formControlName='val2'>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance='fill'>
          <mat-label>Значення 3</mat-label>
          <input matInput formControlName='val3'>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance='fill'>
          <mat-label>Значення 4</mat-label>
          <input matInput formControlName='val4'>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance='fill'>
          <mat-label>Значення 5</mat-label>
          <input matInput formControlName='val5'>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance='fill'>
          <mat-label>Значення 6</mat-label>
          <input matInput formControlName='val6'>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color='primary' type='submit'>Ввести дані</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="lab2svc.state >= 1" class='round-box'>
  <div class='title'>
    Експертне оцінювання за шкалою Сааті для температури повітря
  </div>
  <div class='content-hor'>
    <div class='inputValues round-box'>
      <form [formGroup]="matrixInputs" (ngSubmit)="calculateMatrix()" class='round-box'>
        <div>
          <mat-form-field appearance='fill'>
            <mat-label>Перевага {{ lab2svc.valueArray[5] }} над {{ lab2svc.valueArray[0] }}</mat-label>
            <input matInput formControlName='val1'>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance='fill'>
            <mat-label>Перевага {{ lab2svc.valueArray[5] }} над {{ lab2svc.valueArray[1] }}</mat-label>
            <input matInput formControlName='val2'>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance='fill'>
            <mat-label>Перевага {{ lab2svc.valueArray[5] }} над {{ lab2svc.valueArray[2] }}</mat-label>
            <input matInput formControlName='val3'>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance='fill'>
            <mat-label>Перевага {{ lab2svc.valueArray[5] }} над {{ lab2svc.valueArray[3] }}</mat-label>
            <input matInput formControlName='val4'>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance='fill'>
            <mat-label>Перевага {{ lab2svc.valueArray[5] }} над {{ lab2svc.valueArray[4] }}</mat-label>
            <input matInput formControlName='val5'>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color='primary' type='submit'>Обчислити</button>
        </div>
      </form>
    </div>
    <div class='matrix round-box' *ngIf="lab2svc.state >= 2">
      <table mat-table [dataSource]="matrixDataSource">
        <ng-container matColumnDef="temp">
          <th mat-header-cell *matHeaderCellDef>Температура</th>
          <td mat-cell *matCellDef="let element"> {{element.temp}} </td>
        </ng-container>
        <ng-container matColumnDef="val1">
          <th mat-header-cell *matHeaderCellDef>{{ lab2svc.valueArray[0] }}</th>
          <td mat-cell *matCellDef="let element"> {{element.val1}} </td>
        </ng-container>
        <ng-container matColumnDef="val2">
          <th mat-header-cell *matHeaderCellDef>{{ lab2svc.valueArray[1] }}</th>
          <td mat-cell *matCellDef="let element"> {{element.val2}} </td>
        </ng-container>
        <ng-container matColumnDef="val3">
          <th mat-header-cell *matHeaderCellDef>{{ lab2svc.valueArray[2] }}</th>
          <td mat-cell *matCellDef="let element"> {{element.val3}} </td>
        </ng-container>
        <ng-container matColumnDef="val4">
          <th mat-header-cell *matHeaderCellDef>{{ lab2svc.valueArray[3] }}</th>
          <td mat-cell *matCellDef="let element"> {{element.val4}} </td>
        </ng-container>
        <ng-container matColumnDef="val5">
          <th mat-header-cell *matHeaderCellDef>{{ lab2svc.valueArray[4] }}</th>
          <td mat-cell *matCellDef="let element"> {{element.val5}} </td>
        </ng-container>
        <ng-container matColumnDef="val6">
          <th mat-header-cell *matHeaderCellDef>{{ lab2svc.valueArray[5] }}</th>
          <td mat-cell *matCellDef="let element"> {{element.val6}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div *ngIf="lab2svc.state >= 2" class='chart round-box'>
      <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
    </div>
  </div>
</div>
