.round-box {
  .title {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
  }
  .content {
    padding: 0 24px;
  }

  .content-hor {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;

    table {
      width: 512px;
    }

    .matrix {
      align-items: center;
      width: fit-content;
    }
  }
}
