.content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;

  .selected-symptoms {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 8vmin;
    align-items: center;
    min-width: 32vmin;

    div {
      align-self: flex-start;
    }
  }

  .diseases {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    min-width: 32vmin;
    text-align: center;

    button {
      margin-top: 1vmin;
    }
  }

  .result {
    display: flex;
    flex-flow: column nowrap;

    .res-label {
      margin-bottom: 2vmin;
    }

    .symptoms-list {
      display: flex;
      flex-flow: column nowrap;
      margin-bottom: 2vmin;

      .have-symp {
        color: red;
      }
    }
  }
}
