<div class='round-box'>
  <div class='title'>
    Хвороби
  </div>
  <div class='content'>
    <div class='selected-symptoms'>
      Обрані симптоми
      <div class='symptom' *ngFor="let symp of activeSymptoms">
        • {{ symp }}
      </div>
    </div>
    <div class='diseases' *ngIf="selected === null">
      Хвороби
      <button mat-raised-button color="primary" *ngFor="let dis of sickSvc.diseases; index as i" (click)="onSelectDisease(i)">
        {{ dis }}
      </button>
    </div>
    <div class='result' *ngIf="selected !== null">
      <div class='res-label' *ngIf="resultChance === 100">
        Вітаємо, у вас {{ sickSvc.diseases[selected] }}!
      </div>
      <div class='res-label' *ngIf="resultChance < 100">
        Імовірність, що у вас {{ sickSvc.diseases[selected] }}: {{ resultChance }}%.
      </div>
      <div class='symptoms-list'>
        Симптоми хвороби:
        <div class='symp-entry' *ngFor="let symp of sickSvc.getSymptoms(selected)" [ngClass]="{'have-symp': checkIfHasSymptom(symp)}">
          {{ symp.sympName }} ({{ symp.influence }}%)
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="onResetSelection()">Змінити хворобу</button>
    </div>
  </div>
</div>
