<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class='round-box'>
  <h1>
    Log in
  </h1>
  <div>
    <mat-form-field appearance='fill'>
      <mat-label>Username</mat-label>
      <input matInput formControlName='username'>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance='fill'>
      <mat-label>Password</mat-label>
      <input type='password' matInput formControlName='password'>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color='primary' type='submit'>Log in</button>
  </div>
  <div class='error-block'>
    <span *ngIf="error">{{ error }}</span>
  </div>
</form>
