<div class='round-box'>
  <div>
    <h1>Результати тесту: {{ quizService.currentQuiz.quizName }}</h1>
    <p>Кількість балів: {{ quizService.currentQuizScore }}</p>
  </div>
  <div id="resultChart"></div>
  <a mat-raised-button color='primary' routerLink='/menu'>Повернутись в меню</a>
</div>
